* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "SN Pro", sans-serif
}
body {
    background-color: #ffffff;
    font-family: "SN Pro", sans-serif
}
.logo img {
    height: auto;
    width: 200px;
    cursor: pointer;
    margin: 1rem;
}

header {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(#bf88ff,#d5b1ff);
    align-items: center;
}
.inicio{
    display: flex;
    gap:3rem

}

.navegacao ul {
display: flex;
    list-style: none;
    font-size: 20px;
    gap: 30px;
    margin-top: 26px;

}

.navegacao li {
    padding: 5px;
    transition: transform 0.3s;
    color: rgb(255, 255, 255);
}

.navegacao li:hover {
    cursor: pointer;
    background-color: #b676ff7c;
    transform: scale(1.1);
    border-radius: 5px;
}
.navegacao li a {
    padding: 5px;
    transition: transform 0.3s;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.extras {
    display: flex;
    justify-content: center;
    gap: 15px;
    color: #ffffff;
    margin: 1rem;
    margin-top: 1rem;

}

.extras i {
    font-size: 18px;
    transition: transform 0.3s;

}

.extras i:hover {
    transform: scale(1.2);
    color: #ebebeb;
    cursor: pointer;
}
.produtos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 30px;
    

}
.produtos img{
    height: 300px;
    width: auto;
}
.torre{
        background-color: #b676ff7c;
        box-shadow: 3px 3px 10px #8f62c2;
        margin-top: 35px;
        padding-bottom: 1rem;
}
.produtos p{
    margin: 12px 0px;
}
.comprar{
    background-color: #8f62c2;
    border-radius: 7px;
    padding: 5px;
    text-decoration: none;
}
.escova{
     background-color: #b676ff7c;
        box-shadow: 3px 3px 10px #8f62c2;
        margin-top: 35px;
        padding-bottom: 1rem;
}
.pa{
     background-color: #b676ff7c;
        box-shadow: 3px 3px 10px #8f62c2;
        margin-top: 35px;
        padding-bottom: 1rem;
}
.pote{
     background-color: #b676ff7c;
        box-shadow: 3px 3px 10px #8f62c2;
        margin-top: 35px;
        padding-bottom: 1rem;
        padding: 32px;
}