@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    font-family: "Inter", sans-serif;

}

.logo img {
    height: auto;
    width: 200px;
    cursor: pointer;
    margin: 1rem;
}

header {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(#bf88ff, #d5b1ff);
    align-items: center;
}

.inicio {
    display: flex;
    gap: 3rem
}

.navegacao ul {
    display: flex;
    list-style: none;
    font-size: 20px;
    gap: 30px;
    margin-top: 26px;

}

.navegacao li {
    padding: 5px;
    transition: transform 0.3s;
    color: rgb(255, 255, 255);
}

.navegacao li:hover {
    cursor: pointer;
    background-color: #b676ff7c;
    transform: scale(1.1);
    border-radius: 5px;
}

.navegacao li a {
    padding: 5px;
    transition: transform 0.3s;
    color: rgb(255, 255, 255);
    text-decoration: none;
}



.extras {
    display: flex;
    justify-content: center;
    gap: 15px;
    color: #ffffff;
    margin: 1rem;
    margin-top: 1rem;


}

.extras i {
    font-size: 18px;
    transition: transform 0.3s;

}

.extras i:hover {
    transform: scale(1.2);
    color: #ebebeb;
    cursor: pointer;
}

.extras a {
    color: #ebebeb;
}

#banner {
    background-image: url("../img/dreamina-2026-04-01-3249-A\ beautiful\ short-haired\ cat\ with\ green\ ....jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 480px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 2rem;
    margin: 1rem;
}

.card img {
    width: 23rem;
    height: 16rem
}

.disponiveis {
    margin-top: 1rem;

}

.busca {
    font-size: 20px;
    margin: 20px;
}

.card {
    display: flex;
    display: block;
    background-color: #ffffff;
    border-radius: 8px;
    margin: 10px;
    transition: transform 0.3s;
    overflow: hidden;
    position: relative;
    padding-bottom: 100px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);

}

.card:hover {
    cursor: pointer;
    background-color: #ececec62;
    transform: scale(1.01);
}

.buttonA {
    text-decoration: none;
    background: linear-gradient(#a75aff);
    padding: 7px;
    padding: 7px 8.1rem;
    color: rgb(255, 255, 255);
    font-size: 14px;
    border-radius: 8px;
    transition: transform 0.5s;

}

.buttonA:hover {
    text-decoration: none;
    background: white;
    color: #a75aff;
    padding: 7px;
    padding: 7px 8.1rem;
    font-size: 14px;
    border-radius: 8px;
    transform: scale(0.9);


}

.card h2 {
    margin-left: 10px;
}

.card h4 {
    position: absolute;
    right: 8px;
    bottom: 103px;
    font-size: 11px;
    background-color: rgba(128, 128, 128, 0.336);
    font-weight: 500;
    padding: 6px;
    border-radius: 13px;


}

.cards a {
    position: absolute;
    right: 9px;
    bottom: 5px;
}

.stats {
    color: rgba(0, 0, 0, 0.466);
    font-size: 14px;
    position: absolute;
    left: 13px;
    bottom: 45px;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    background: linear-gradient(to right, #682daa, #7f4db8, #8156b3, #8a5dbd, #9c77c7);
    width: 100%;
    padding-bottom: 3rem;
}

footer h2 {
    color: white;
    font-size: 2rem;
}

footer p {
    color: white;
    font-size: 1rem;
}

footer hr {
    margin: 0 10rem;
}

.content {
    display: flex;
    justify-content: space-evenly;
    padding-top: 6rem;
}

.inf1 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: white;
}

.inf1 img {
    width: 13rem;
}

.inf2 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.desc {
    display: flex;
    flex-direction: column;
}

.midia {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.midia h4 {
    color: white;
    display: flex;
    justify-content: center;
    font-weight: 400;

}

.midia a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}


.social {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    gap: 5rem;
}

.social a {
    transition: transform 0.3s;

}

.social a:hover {
    transform: scale(1.2);
    color: #ebebeb;
    cursor: pointer;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.subfooter {
    display: flex;
    justify-content: center;
    background-color: #562b88;
}

.subfooter p {
    color: white;
    font-size: 1rem;
    font-weight: 300;
    padding: 13px;
}

.container {
    max-width: 550px;
    min-width: 350px;
}

.carrocel {
    display: grid;
    grid-auto-flow: column;
    gap: 1.2rem;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: mandatory;

}

.cats {
    background-color: #562b88;
    min-height: 350px;
    min-width: 450px;
    scroll-snap-align: initial;
    border-radius: 10px;
}